/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #17202D;
}

.container {
    background-color: #2A3B47;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

p {
    font-size: 18px;
}