/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #17202D;
}

#addtocart {
    color: black;
    background-color: greenyellow;
    border-radius: 32px; 
}

h2 {
    color: greenyellow;
    font-weight: bold;
    font-size: 60px;
}

p {
    font-size: 16px;
}

.container {
 margin-top: 150px;
 margin-left: 200px;
}

