/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #17202D;
}
        
#first-title {
    text-align: center;
    padding: 1em;
}

.container {
    padding: 10px;
}

.card {
    background-color: #2A3B47;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a .card {
    color: #fff;
    font-weight: bold;
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.gameImage {
    width: 150px;
    height: auto;
}

hr {
    border: 1px solid #ddd;
    margin: 8px 0;
}

.filter-menu {
    margin-bottom: 20px;
}

.filter-menu label {
    margin-right: 10px;
}

#filtro-form {
    display: none;
    margin-left: 40px;
}

.filterB {
    background-color: #1DA1F3;
}

#loginB {
    background-color: #FBC452;
}