/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
body {
    font-family: 'Black Ops One', sans-serif;
    color: #fff;
    background-color: #17202D;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
}

p {
    color: red;
    margin-bottom: 30px;
}

form {
    background-color: #2A3B47;
    padding: 50px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    font-size: 25px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 22px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #000;
}

button {
    background-color: #1DA1F3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #025da2;
}

